<!DOCTYPE html>
<html lang="en">
<head>
    <title>MA. LUWIS NIKOL'S BARTERAN</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { 
            setTimeout(hideURLbar, 0); }, false); 
        function hideURLbar(){ 
    window.scrollTo(0,1); } 
    </script>
    <link href="/styles/users.css" rel="stylesheet" type="text/css" media="all" />
        
</head>
<body>
    <%- body %>
    
</body>
</html>