<h1>WALA PA TAYONG DASHBOARD</h1>
<h3>DASHBOARD PREVIEW TO</h3>

<a href="/users/login">LOG-IN</a>
<a href="/users/register">REGISTER</a>
<a href="/users/logout">LOG-OUT</a>


<%- include('./partials/messages')%>