<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	        <div class="main-w3layouts wrapper">
		        <h1 style = "color: white; font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 0px">Welcome back.</h1>
		            <div class="main-agileinfo">
			            <div class="agileits-top">
                            <form action="#" method="post">
                                <input type="text" name="email" placeholder="username/email" required/>
                                <input type="password" name="password" placeholder="password" required/>
                                    <div class="wthree-text">
                                        <div class="clear"> </div>
                                    </div>
                                <input type="submit" value="SIGN IN">
                                <div class="wthree-text">
                                    <div class="clear"> </div>
                                </div>
                            </form>
                <p>Not registered yet? <a href="register">Sign up for free</a></p>
                
	            <%- include('../partials/messages')%>
			</div>
		</div>
	</div>